body{font-family:Arial;background:#167bb6;color:#000}
.screen{display:flex;justify-content:center;margin-top:40px}
.card{background:#fff;padding:20px;border-radius:12px;width:300px}
.input{width:100%;padding:10px;margin:8px 0}
.bottomBtn{width:100%;padding:10px;background:#0f6ea8;color:#fff;border:none}
